@tailwind base;
@tailwind components;
@tailwind utilities;
.header button b {
  @apply text-2xl;
}

/* Header start*/

.tabs a li {
  @apply cursor-pointer flex items-center hover:text-gray-800;
}
.tabs a li:after {
  content: "";
  position: absolute;
  background-color: #252424;
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: -4px;
  border-radius: 30px;
  transition: all 1s ease-in-out;
}
.tabs a li:hover:after {
  @apply w-full;
}

/* slider */
.card {
  @apply w-72;
}

.slick-slider {
  @apply p-9;
}
.slick-prev::before {
  @apply !content-['<'];
}
.slick-next::before {
  @apply !content-['>'] right-3 top-0;
}
.slick-prev::before,
.slick-next::before {
  @apply w-10 h-10 bg-purple-800 border-2 border-purple-500 shadow-md shadow-purple-400 !text-gray-100 !font-extrabold p-6 absolute text-3xl opacity-100 grid content-center items-center justify-center justify-items-center rounded-full;
}
.slick-dots li button:before {
  @apply !text-4xl !content-['*'];
}

/* Header end */
.text_orr {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.oals,
.pics div p,
.aboutus p,
.Team p {
  font-family: "Montserrat";
}

.contact-form label,
.sign-up-form label,
.loginForm label,
.ent-frm-label label,
.tut-frm-label label,
.mainContent label,
.crdContent label,
.sub label,
.upload-Pdf-course-pic label,
.feedForm label,
.cardProductInfo label,
.certi-builder label,
.ProblemsForm label {
  @apply my-2 text-lg font-bold;
}
.contact-form input,
.cardProductInfo input,
.certi-builder input,
.cardProductInfo textarea,
.certi-builder textarea,
.cardProductInfo select,
.cardProductInfo option,
.ent-frm-label input,
.ent-frm-label textarea,
.tut-frm-label input,
.sign-up-form input[type="text"],
.loginForm input[type="text"],
.loginForm input[type="password"],
.sign-up-form input[type="password"],
.sign-up-form input[type="email"],
.sub input,
.mainContent input[type="text"],
.tut-frm-label textarea,
.sub textarea,
.mainContent textarea,
.crdContent input[type="text"],
.crdContent textarea,
.crdContent select,
.contact-form textarea,
.feedForm textarea,
.ProblemsForm textarea {
  @apply my-2 border border-gray-200 shadow-md shadow-gray-300 px-4 py-2 rounded-md outline-none w-72;
}
.contact-form textarea,
.feedForm textarea,
.ProblemsForm textarea {
  @apply h-40;
}
.category-mobile-Tabs,
.mobile-search-box {
  display: none;
}

body {
  position: relative;
}
body::-webkit-scrollbar {
  width: 12px;
  background: #2828ee;
}
body::-webkit-scrollbar-thumb {
  width: 12px;
  background: #81ee28;
}
.upload-post-course-pic svg,
.upload-Pdf-course-pic svg {
  font-size: 220px;
  pointer-events: none;
}

.card-Container {
  @apply bg-gray-50 overflow-hidden rounded-lg my-3 shadow-md shadow-purple-200;
}
.card-Container .card-body {
  @apply px-2 py-4 text-ellipsis;
}
.card-Container .card-body b {
  @apply flex items-center gap-3 text-center justify-center text-xl py-2 cursor-context-menu;
}
.card-Container .card-body p {
  @apply flex items-center gap-3 text-center justify-center text-lg py-2;
}
.tab-mob-menu-ico-list {
  @apply hidden relative;
}
.tab-mob-menu-ico-list button {
  @apply flex w-10 h-10 bg-purple-500 text-gray-100 items-center justify-center text-2xl rounded-lg;
}
.tab-mob-menu-ico-list ul {
  @apply bg-purple-600 text-gray-100 w-60 px-4 py-3 absolute -left-52 rounded-b-md top-10 rounded-l-md;
}
.tab-mob-menu-ico-list ul li {
  @apply py-2 cursor-pointer;
}
/* web-view 1039 to 850 */
/* @media (max-width: 1039px) and (min-width: 850px) {
  .text_orr {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    text-align: center;
    margin: 6px 0px;
  }
  .how-to-box {
    margin-bottom: 95px;
  }
  .how-to,
  .about-us {
    display: grid !important;
  }
  .category-mobile-Tabs,
  .mobile-search-box {
    display: none;
  }
} */
/* web-view 849 to 650 */
/* @media (max-width: 849px) and (min-width: 650px) {
  .text_orr {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    text-align: center;
    margin: 6px 0px;
  }
  .how-to-box {
    margin-bottom: 95px;
  }
  .how-to,
  .about-us {
    display: grid !important;
  }
  .categoryTabs,
  .mobile-search-box {
    display: none;
  }
  .category-mobile-Tabs {
    display: flex;
    height: 70px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: -1px -13px 31px #cbc8c8;
    padding: 4px;
  }
  .mobile_tabs_Category {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }
} */
/* web-view 649 to 451 */
/* @media (max-width: 649px) and (min-width: 451px) {
  .text_orr {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    text-align: center;
    margin: 6px 0px;
  }
  .how-to-box {
    margin-bottom: 95px;
  }
  .how-to,
  .about-us {
    display: grid !important;
  }
  .categoryTabs,
  .mobile-search-box {
    display: none;
  }
  .category-mobile-Tabs {
    display: flex;
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: -1px -13px 31px #cbc8c8;
    padding: 4px;
  }
  .mobile_tabs_Category {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }
} */
/* web-view 450 to 360 */
/* @media (max-width: 450px) and (min-width: 360px) {
  .map-view-frame {
    width: 230px !important;
    height: 160px !important;
  }
  .text_orr {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    text-align: center;
    margin: 6px 0px;
  }
  .how-to-box {
    margin-bottom: 95px;
  }
  .how-to,
  .about-us {
    display: grid !important;
  }
  .categoryTabs,
  .search-box {
    display: none;
  }
  .category-mobile-Tabs {
    display: flex;
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: -1px -13px 31px #cbc8c8;
    padding: 4px;
  }
  .mobile_tabs_Category {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }
  .mobile-search-box {
    display: block;
  }
} */
/* web-view 360 to 100 */

/* @media (max-width: 360px) and (min-width: 100px) {
  .map-view-frame {
    width: 230px !important;
    height: 160px !important;
  }
  .text_orr {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    text-align: center;
    margin: 6px 0px;
  }
  .how-to-box {
    margin-bottom: 95px;
  }

  .how-to,
  .about-us {
    display: grid !important;
  }
  .categoryTabs,
  .search-box {
    display: none;
  }
  .category-mobile-Tabs {
    display: flex;
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: -1px -13px 31px #cbc8c8;
    padding: 4px !important;
  }
  .mobile_tabs_Category {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }
  .mobile-search-box {
    display: block;
  }
} */

/* web-view 1279 to 1038 */
@media (max-width: 1280px) and (min-width: 1038px) {
  .card {
    @apply w-52;
  }
  .slick-list {
    width: 960px !important;
  }
  .slick-dots {
    left: 0px;
  }
  .tab-mob-menu-ico-list {
    @apply hidden;
  }
}

/* web-view 1037 to 851 */
@media (max-width: 1039px) and (min-width: 850px) {
  .card {
    @apply w-52;
  }
  .slick-list {
    width: 700px !important;
  }
  header {
    @apply !px-4;
  }
  .tab-mob-menu-ico-list {
    @apply hidden;
  }
}

/* Tab-view 850 to 651 */
@media (max-width: 849px) and (min-width: 651px) {
  /* slide */
  .card {
    @apply w-52;
  }
  .slick-list {
    width: 650px !important;
  }
  header {
    @apply !px-4;
  }
  .tab-mob-menu-ico-list {
    @apply flex relative;
  }
  .web-tabs {
    @apply hidden;
  }
}

/* Tab-view 650 to 541 */
@media (max-width: 650px) and (min-width: 541px) {
  .card {
    @apply w-48;
  }
  .slick-list {
    width: 400px !important;
  }
  .tab-mob-menu-ico-list {
    @apply flex relative;
  }
  .web-tabs {
    @apply hidden;
  }
}

/* Tab-view 540 to 441 */
@media (max-width: 540px) and (min-width: 441px) {
  .card {
    @apply w-72;
  }
  .slick-list {
    width: 300px !important;
    justify-content: center;
  }
  .tab-mob-menu-ico-list {
    @apply flex relative;
  }
  .web-tabs {
    @apply hidden;
  }
}

/* Mobile-View 440 to 350*/
@media (max-width: 440px) and (min-width: 350px) {
  .card {
    @apply w-52;
  }
  .slick-list {
    width: 220px !important;
    justify-content: center;
  }
  .tab-mob-menu-ico-list {
    @apply flex relative;
  }
  .web-tabs {
    @apply hidden;
  }
  .tab-mob-menu-ico-list ul {
    @apply bg-purple-600 text-gray-100 w-60 px-4 py-3 absolute -left-32 rounded-b-md top-12 rounded-t-md;
  }
}
